<!-- Page to hold customer profile details for updating as well as list of orders and reservations -->
<section id="content" class="banner" data-stellar-background-ratio="0.5">
    <div class="row">
        <div class="item page-alt item-fourth">
            <div class="caption caption-alt">
                <div class="container">
                    <h1>Account Details</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    {{#if data.userData}}
    <div class="row">
        <h1 class="centered">Account Information</h1>
    </div>
    <div class="row centered">
        <div class="col-md-3 col-sm-6">
            <p><b>First Name:</b> {{data.userData.firstName}}</p>
        </div>
        <div class="col-md-3 col-sm-6">
            <p><b>Last Name:</b> {{data.userData.lastName}}</p>
        </div>
        <div class="col-md-3 col-sm-6">
            <p><b>Email:</b> {{data.userData.email}}</p>
        </div>
        <div class="col-md-2 col-sm-6">
            <p><b>Member Type:</b> {{#if data.userData.member}}Member{{/if}} {{#if data.userData.admin}}Admin{{/if}}</p>
        </div>
    </div>
    {{/if}}
</div>

<div class="container">
    <div class="row">
        <h1 class="centered">Order History</h1>
    </div>
</div>

<div class="container">
    {{#if data.orderData}}
    <table class="generic">
    <thead>
        <tr>
        <th>Purchase Date</th>
        <th>Total</th>
        <th>Status</th>
        <th>Items</th>
        <th>Remove</th>
        </tr>
    </thead>
    <tbody>
            {{#each data.orderData}}
                <tr>
                    <input type="hidden" id="orderID" value={{this.orderID}}>
                    <td>{{this.time}}</td>
                    <td>${{this.total}}</td>
                    <td>{{#if this.complete}} Complete {{/if}} </td>
                    <td>
                        <ul>
                            {{#each this.items}}
                            <li>{{this.name}} ({{this.amount}}) - {{this.status}}</li>
                            {{/each}}
                        </ul>
                    </td>
                    <td><i class="fa fa-times-circle"></i></td>
                </tr>
            {{/each}}
    </tbody>
    </table>
    {{else}}
        <p>You have no orders</p>
    {{/if}}
</div>

<div class="container">
    <div class="row">
        <h1 class="centered">Reservation History</h1>
    </div>
</div>

<div class="container">
    {{#if data.resData}}
    <table class="generic">
    <thead>
        <tr>
        <th>Room</th>
        <th>Total</th>
        <th>Reservation Time</th>
        <th>Length</th>
        <th>Remove</th>
        </tr>
    </thead>
    <tbody>
            {{#each data.resData}}
                <tr>
                    <td>{{this.name}}</td>
                    <td>${{this.totalFee}}</td>
                    <td>{{this.reservationTime}}</td>
                    <td>{{this.reservationDuration}} minutes</td>
                    <td><i class="fa fa-times-circle"></i></td>
                </tr>
            {{/each}}
    </tbody>
    </table>
    {{else}}
        <p>You have no reservations</p>
    {{/if}}
</div>