<section id="content" class="banner" data-stellar-background-ratio="0.5">
    <div class="row">
        <div class="item page-alt item-second">
            <div class="caption caption-alt">
                <div class="container">
                    <h1>Beverage Catalog</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div id="beverageForm" class="generic-form">
        <h2>Add Beverage</h2>
        <form id="add">
            <label for="name">Name</label><br>	
            <input type="text" id="name" name="name" required />
            <label for="description">Description</label><br>	
            <input type="text" id="description" name="description" required />
            <label for="price">Price</label><br>	
            <input type="number" id="price" name="price" min="1" step="0.01" required />
            <label>Type:</label>
            <select id="type" name="type">
                <option value="" disable selected>Select a Type</option>
                <option value="hot">Hot</option>
                <option value="cold">Cold</option>
                <option value="blended">Blended</option>
            </select>
            <br>
            <label>Ingredients:</label><br>
            {{#if ingredientData}}
            {{#each ingredientData}}
            <label><input type="checkbox" name="ingredients" value="{{this.ingredientID}}" /> {{this.name}}</label>
            {{/each}}
            {{else}}
            No ingredients
            {{/if}}<br><br>
            <input type="submit" value="Add" />
        </form>
    </div>
    <div id="message"></div>
</div>
<div class="container">
    <div id="dataList"></div>
</div>
<script id="data-template" type="text/x-handlebars-template">
    \{{#if resultData}}
    <h2>Beverages in Menu</h2>
    <table id="dataDetails" class="generic">
      <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Type</th>
            <th>Price</th>
            <th>Ingredients</th>
            <th></th>
            <th></th>
        </tr>
      </thead>
      <tbody> 
        \{{#each resultData}}
            <tr id="\{{this.beverageID}}">
                <td>\{{this.name}}</td>
                <td>\{{this.description}}</td>
                <td>\{{this.type}}</td>
                <td>\{{this.price}}</td>
                <td>\{{this.ingredients}}</td>
                <td><button type="submit" value="Update" onclick="updateBeverage(\{{{json this}}});">Update</button></td>
                <td><button type="submit" value="Delete" onclick="deleteBeverage(\{{{json this}}});">Delete</button></td>
            </tr>
        \{{/each}}
      </tbody>
    </table>
    \{{else}}
        <p>No beverages in database.</p>
    \{{/if}}
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.min.js"></script>
<script type="text/javascript" src="js/util.js"></script>
<script type="text/javascript" src="js/beverages.js"></script>