<section id="content" class="banner" data-stellar-background-ratio="0.5">
    <div class="row">
        <div class="item page-alt item-second">
            <div class="caption caption-alt">
                <div class="container">
                    <h1>Beverage Catalog</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
  <div id="userform">
    {{#if error}}
    <h2 class="error">{{error}}</h2>
    {{/if}}
    {{#if success}}
    <h2 class="success">{{success}}</h2>
    {{/if}}
      <div id="beverageForm" class="generic-form" >
      <h2>Add Beverage</h2>
      <form action="/addBeverage" method="post">
        <label for="name">Name</label><br>	
        <input type="text" id="name" name="name" required />
        <label for="description">Description</label><br>	
        <input type="text" id="description" name="description" required />
        <label for="price">Price</label><br>	
        <input type="number" id="price" name="price" required />
        <fieldset>
            <legend> Type: </legend>
            <input type="radio" id="hot" name="type" value="hot">
            <label for="hot">Hot</label>
            <input type="radio" id="cold" name="type" value="cold">
            <label for="cold">Cold</label>
            <input type="radio" id="blended" name="type" value="blended">
            <label for="blended">Blended</label><br>
        </fieldset>
        <label for="ing-search">Ingredients:</label>
        <input type="search" id="ing-search" name="q"
            aria-label="Search for ingredients" placeholder="Search for ingredients"> <br>
        <input type="submit" value="Add" />
      </form>
    </div>
  </div>
</div>

<div class="container">
    <table class="generic">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Type</th>
            <th>Price</th>
            <th>Ingredients</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>Tumeric Mocha</td>
                <td>An odd mocha that shouldn't exist.</td>
                <td>Hot</td>
                <td>$3.50</td>
                <td>tumeric, chocolate</td>
                <td><a href="#"><i class="fa fa-check-circle"></i></td>
                <td><a href="#"><i class="fa fa-times-circle"></i></td>
            </tr>
        <!--{{#if data}} -->
            {{#each data}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.description}}</td>
                <td>{{this.type}}</td>
                <td>{{this.price}}</td>
                <td>{{this.ingredients}}</td>
                <td><a href="#"><i class="fa fa-check-circle"></i></td>
                <td><a href="#"><i class="fa fa-times-circle"></i></td>
            </tr>
        {{/each}}
        <!-- {{/if}} -->
    </tbody>
    </table>
</div>