<section id="content" class="banner" data-stellar-background-ratio="0.5">
    <div class="row">
        <div class="item page-alt item-first">
            <div class="caption caption-alt">
                <div class="container">
                    <h1>Manage Cats</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
  <div id="userform">
    {{#if error}}
    <h2 class="error">{{error}}</h2>
    {{/if}}
    {{#if success}}
    <h2 class="success">{{success}}</h2>
    {{/if}}
      <div id="catForm" class="generic-form" >
      <h2>Add Cat</h2>
      <form action="/addCat" method="post">
        <label for="date">Date</label><br>	
        <input type="date" id="date" name="date" required />
        <label for="name">Name</label><br>	
        <input type="text" id="name" name="name" required />
        <label for="yesbreed">Breed</label><br>	
        <input type="text" id="yesbreed" name="yesbreed" required />
        <label for="age">Age</label><br>	
        <input type="number" id="age" name="age" required />
        <label for="room-search">Assigned Room:</label>
        <input type="search" id="room-search" name="q"
            aria-label="Search for room" placeholder="Find available room"> <br>
        <input type="submit" value="Add" />
      </form>
    </div>
  </div>
</div>

<div class="container">
    <table class="generic">
    <thead>
        <tr>
        <th>Name</th>
        <th>Breed</th>
        <th>Age</th>
        <th>Date Admitted</th>
        <th>Adopted</th>
        <th>Room ID</th>
        <th>Update</th>
        <th>Remove</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>Fluffy</td>
                <td>Domestic Shorthair</td>
                <td>1 year</td>
                <td>1/10/2021</td>
                <td>No</td>
                <td>1</td>
                <td><a href="#"><i class="fa fa-check-circle"></i></td>
                <td><a href="#"><i class="fa fa-times-circle"></i></td>
            </tr>
        <!--{{#if data}} -->
            {{#each data}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.breed}}</td>
                <td>{{this.age}}</td>
                <td>{{this.dateAdmitted}}</td>
                <td>{{this.adopted}}</td>
                <td>{{this.roomID}}</td>
                <td><a href="#"><i class="fa fa-check-circle"></i></td>
                <td><a href="#"><i class="fa fa-times-circle"></i></td>
            </tr>
        {{/each}}
        <!-- {{/if}} -->
    </tbody>
    </table>
</div>