<section id="content" class="banner" data-stellar-background-ratio="0.5">
    <div class="row">
        <div class="item page-alt item-first">
            <div class="caption caption-alt">
                <div class="container">
                    <h1>Checkout</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div id="dataList"></div>
</div>
<div id="message"></div>
<script id="data-template" type="text/x-handlebars-template">
    \{{#if resultData}}
    <table id="dataDetails" class="generic">
      <thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th></th>
        </tr>
      </thead>
      <tbody> 
        \{{#each resultData}}
            <tr id="\{{this.beverageID}}">
                <td>\{{this.name}}</td>
                <td><input type="number" name="quantity" id="\{{@index}}" value="\{{this.quantity}}"></td>
                <td>\{{this.price}}</td>
                <td><button type="submit" onclick="removeBev(\{{{json this}}});">Remove</button></td>
            </tr>
        \{{/each}}
      </tbody>
    </table>
    <button type="submit" onclick="submitOrder(\{{{json this}}});">Place Order</button>
    \{{else}}
        <p>No items in cart.</p>
    \{{/if}}
</script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.min.js"></script>
<script type="text/javascript" src="js/util.js"></script>
<script type="text/javascript" src="js/checkout.js"></script>