<section id="content" class="banner" data-stellar-background-ratio="0.5">
    <div class="row">
        <div class="item page-alt item-second">
            <div class="caption caption-alt">
                <div class="container">
                    <h1>Ingredient Catalog</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div id="ingredientForm" class="generic-form">
        <h2>Add Ingredient</h2>
        <form id="add">
            <input type="hidden" id="id" name="id" />
            <label for="name">Name</label><br>	
            <input type="text" id="name" name="name" required />
            <input type="submit" value="Add" />
            <a href="#" id="reset">Reset</a>
        </form>
    </div>
    <div id="message"></div>
</div>
<h2 class="subtitle">Available Ingredients</h2>
<div class="container">
    <div id="dataList"></div>
</div>
<script id="data-template" type="text/x-handlebars-template">
    \{{#if resultData}}
    <table id="dataDetails" class="generic">
      <thead>
        <tr>
            <th>Name</th>
            <th></th>
            <th></th>
        </tr>
      </thead>
      <tbody> 
        \{{#each resultData}}
            <tr id="\{{this.ingredientID}}">
                <td>\{{this.name}}</td>
                <td><button type="submit" value="Update" onclick="editRow(\{{{json this}}});">Update</button></td>
                <td><button type="submit" value="Delete" onclick="deleteIngredient(\{{{json this}}});">Delete</button></td>
            </tr>
        \{{/each}}
      </tbody>
    </table>
    \{{else}}
        <p>No ingredients in database.</p>
    \{{/if}}
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.3/handlebars.min.js"></script>
<script type="text/javascript" src="js/util.js"></script>
<script type="text/javascript" src="js/ingredients.js"></script>