<section id="content" class="banner" data-stellar-background-ratio="0.5">
    <div class="row">
        <div class="item page-alt item-third">
            <div class="caption caption-alt">
                <div class="container">
                    <h1>Manage Rooms</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <table class="generic">
    <thead>
        <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Reservable</th>
        <th>Fee</th>
        <th>Cat ID</th>
        <th>Update</th>
        <th>Remove</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>Green Room</td>
                <td>A room painted in muted golds with walls of plants.</td>
                <td>Yes</td>
                <td>$30.00 per hour</td>
                <td>1</td>
                <td><a href="#"><i class="fa fa-check-circle"></i></td>
                <td><a href="#"><i class="fa fa-times-circle"></i></td>
            </tr>
        <!--{{#if data}} -->
            {{#each data}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.roomDescription}}</td>
                <td>{{this.reservable}}</td>
                <td>{{this.fee}}</td>
                <td>{{this.catID}}</td>
                <td><a href="#"><i class="fa fa-check-circle"></i></td>
                <td><a href="#"><i class="fa fa-times-circle"></i></td>
            </tr>
        {{/each}}
        <!-- {{/if}} -->
    </tbody>
    </table>
</div>